*{
    box-sizing: border-box;
}
body{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    margin-top:40px;
}
@media screen and (max-width:1050px){
    body{
        width:auto;
        margin-left:40px;
        margin-right:40px; 
        margin-top:40px;
        margin-bottom:40px;
    }
}
.center{
    text-align:center;
}
#avatar{
    float:left;
}
header{
    background-color: rgb(242, 242, 242);
    border-style:solid;
    padding:10px;
    border-radius: 10px;
    display:block;
}
footer{
    display:block;
}
img{
    border-radius: 10px;
}
.material-symbols{
    float:left;
    padding-right: 4px;
}